.Navbar{
  width: 100%;
  background-color: #9D47B5;
  color: #80A04C;
  display: flex;
  justify-content: center;

  a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #80A04C;
    border-radius: 25px;
    text-decoration: none;
    padding: 20px;
    &:hover{
      background-color: #6C4B75;
    }
  }
}