@keyframes titleMove {
  0%{
    letter-spacing: normal;
  }
  50%{
    letter-spacing: 9px;
  }
  100%{
    letter-spacing: normal;
  }
}
.Header {
  letter-spacing: 9px;
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #27AE60;
  h1{
    animation: titleMove 5s infinite ease-in-out;
    color: #5D4037;
    font-size: 3rem;
    padding: 20px 10px;
  }
}