.Navbar{
  width: 100%;
  height: 15vh;
  background-color: #1E5631;
  display: flex;
  justify-content: center;

  a{
    transition: transform 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #a86b62;
    border-radius: 25px;
    text-decoration: none;
    padding: 20px;
    &:hover{
      transform: translateY(-20px);
      text-shadow: 0 10px 20px rgb(255,000,50);
      color: #E67E22;
    }
  }
}